<a href="https://colab.research.google.com/github/lagos-a1/Addiction-/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import io
from datetime import date


from google.colab import files
uploaded = files.upload()

Data = pd.read_csv(io.StringIO(uploaded['Python.csv'].decode('utf-8')))

Saving Python.csv to Python.csv

In [3]:
Data

                 Name  Gender DateOfBirth                      Industry  Income
0   Forrest Fernandez       2   4/12/2018             Tristique Limited  91 493
1    Helen Harrington       2  29/03/2020      Luctus Ipsum Corporation  36 516
2        Brianna Rios       2   6/08/2018            Nec Tellus Company  48 806
3        Rahim Kinney       2  25/06/2019           Bibendum Associates  80 670
4        Erasmus Rosa       1   5/08/2019  Lorem Vehicula Et Consulting  18 197
..                ...     ...         ...                           ...     ...
95  Orlando Valentine       1  27/11/2019                Magna Cras LLC  39 563
96       Rose Burgess       1  21/09/2019      Nec Ante Blandit Limited  36 587
97        Cade Spence       1  11/08/2018                 Nulla Company  62 780
98    Maxwell Hendrix       1  31/08/2018      Aliquet Molestie Company  89 064
99      Sophia Branch       2  31/10/2019             Mauris Associates  79 135

[100 rows x 5 columns]

In [0]:
BackupData = Data.copy()

In [5]:
Data.dtypes

Name           object
Gender          int64
DateOfBirth    object
Industry       object
Income         object
dtype: object

In [0]:
Data['DateOfBirth'] = pd.to_datetime(Data['DateOfBirth'])

In [8]:
Data.dtypes

Name                   object
Gender                  int64
DateOfBirth    datetime64[ns]
Industry               object
Income                 object
dtype: object

In [0]:
def calculate_age(dtob):
    today = date.today()
    return today.year - dtob.year - ((today.month, today.day) < (dtob.month, dtob.day))

In [0]:
today = date.today()

Data['Age'] = today.year - Data['DateOfBirth'].apply(lambda x: x.year)

In [16]:
Data

                 Name  Gender  ...  Income Age
0   Forrest Fernandez       2  ...  91 493   1
1    Helen Harrington       2  ...  36 516  -1
2        Brianna Rios       2  ...  48 806   1
3        Rahim Kinney       2  ...  80 670   0
4        Erasmus Rosa       1  ...  18 197   0
..                ...     ...  ...     ...  ..
95  Orlando Valentine       1  ...  39 563   0
96       Rose Burgess       1  ...  36 587   0
97        Cade Spence       1  ...  62 780   1
98    Maxwell Hendrix       1  ...  89 064   1
99      Sophia Branch       2  ...  79 135   0

[100 rows x 6 columns]

Date of birth must be always a positive value. However, some ages are negatives.

In [0]:
Data['age_bin'] = pd.cut(x=Data['Age'], bins=[-1, 18, 25, 35, 45, 55, 65], labels=['<18', '25 – 35', '35 – 45','45 – 55','55 – 64','>65'])

In [21]:
Data

                 Name  Gender DateOfBirth  ...  Income Age  age_bin
0   Forrest Fernandez       2  2018-04-12  ...  91 493   1      <18
1    Helen Harrington       2  2020-03-29  ...  36 516  -1      NaN
2        Brianna Rios       2  2018-06-08  ...  48 806   1      <18
3        Rahim Kinney       2  2019-06-25  ...  80 670   0      <18
4        Erasmus Rosa       1  2019-05-08  ...  18 197   0      <18
..                ...     ...         ...  ...     ...  ..      ...
95  Orlando Valentine       1  2019-11-27  ...  39 563   0      <18
96       Rose Burgess       1  2019-09-21  ...  36 587   0      <18
97        Cade Spence       1  2018-11-08  ...  62 780   1      <18
98    Maxwell Hendrix       1  2018-08-31  ...  89 064   1      <18
99      Sophia Branch       2  2019-10-31  ...  79 135   0      <18

[100 rows x 7 columns]